Air icm-api# cat .gitignore 
target
flow
.idea
*.class
*.log
hs_err_pid*
*.iws
out
.idea_module
dump.rdb
*.iml
**/*.idea
**/*.iml
**/.project
**/.settings
**/.classpath
**/.DS_Store
**/target
**/PlaidTest.java
.vscode
.factorypath
